.md-errors-spacer {
  min-height: 0px !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

#search {
  background: #F5F5F5;
}

#searchIntermediateResults md-chips-wrap {
  text-align: center;
}

#searchIntermediateResults md-chips-wrap md-chip {
  float: none !important;
  display: inline-block;
}

#results {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.result-item {
  margin-bottom: 3px;
  padding: 3px 5px;
  text-align: left;
  transition: background 0.5s ease;
}
@media screen and (max-width: 700px) {
  .result-item {
    font-size: 14px;
  }
}
.result-item:nth-child(even) {
  background: #FEFEFE;
}
.result-item:nth-child(odd) {
  background: #E0F7FA;
}
.result-item:hover {
  background: #80DEEA;
}

.result-item-title {
  font-weight: bold;
}

.result-item-updated {
  font-size: 13px;
}
@media screen and (max-width: 700px) {
  .result-item-updated {
    display: none;
  }
}

.result-item-prices {
  display: inline-block;
  float: right;
  margin-top: 2px;
}
.result-item-prices-price {
  background: #597f84;
  display: inline-block;
  padding: 5px 7px;
  margin-bottom: 1px;
  font-size: 13px;
  border-radius: 2px;
}
@media screen and (max-width: 700px) {
  .result-item-prices-price {
    padding: 3px 3px;
  }
}
.result-item-prices-price-value {
  color: white;
  font-size: 15px;
}
@media screen and (max-width: 700px) {
  .result-item-prices-price-value {
    font-weight: bold;
    font-size: 13px;
  }
}
.result-item-prices-price.result-item-prices-price-max {
  background: #B71C1C;
}

.result-item-prices-price .icon,
.result-item-prices-price .result-item-prices-price-value {
  display: inline-block;
  vertical-align: top;
}
.result-item .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;
}
.result-item .icon.icon-amazon {
  background-image: url(/assets/images/amazon.ico);
}
.result-item .icon.icon-ebay {
  background-image: url(/assets/images/ebay.ico);
}
.result-item .icon.icon-musicmagpie {
  background-image: url(/assets/images/musicmagpie.ico);
}
.result-item .icon.icon-zapper {
  background-image: url(/assets/images/zapper.ico);
}
.result-item .icon.icon-ziffit {
  background-image: url(/assets/images/ziffit.ico);
}
.result-item .icon.icon-webuybooks {
  background-image: url(/assets/images/webuybooks.ico);
}
