<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css" />
  <link rel="stylesheet" href="/assets/app.css">
</head>
<body ng-controller="pageCtrl" ng-cloak>
  <div layout="column" layout-align="center center" layout-padding>
    <div layout="row" layout-fill layout-align="center center" id="search">

      <form
        layout="row"
        flex="100"
        flex-gt-sm="50"
        name="searchForm"
        ng-model="searchForm"
        ng-submit="search()"
      >

        <md-input-container flex="80">
          <label>Product code</label>

          <input
            id="query-field"
            ng-model="query"
            name="number"
            placeholder="5013705221729"
            required
          >
        </md-input-container>

        <div flex></div>

        <section layout="row" layout-align="center center">
          <md-button
            type="submit"
            class="md-raised"
            ng-disabled="!searchForm.$valid"
          >Search</md-button>

          <md-progress-circular ng-show="searchInProgress" md-mode="indeterminate"></md-progress-circular>

          <md-button class="md-warn md-raised" ng-click="deleteAll()">Delete all</md-button>
        </section>

      </form>
    </div>

    <div id="searchIntermediateResults" layout="column" layout-align="center center" ng-show="searchInProgress || searchShowIntermediateResults">
      <md-chips layout-align="center center">
        <md-chip ng-repeat="(searchQuery,searchResult) in searchIntermediateResults">
          <md-tooltip>{{searchResult.title}}</md-tooltip>

          <span>
            <b>{{searchQuery}}</b>
            <span>- {{searchResult['source-name']}}</span>
          </span>
        </md-chip>
      </md-chips>
    </div>

    <div layout="column" layout-fill layout-align="center center">
      <div ng-show="refreshingTheResults">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <div ng-show="!results.length && !refreshingTheResults">
        <b>There're no previous search results!</b>
      </div>

      <div id="results" ng-hide="!results.length">

        <div class="result-item clearfix" ng-repeat="result in results | orderBy:'-max_price'">
          <md-tooltip>
            <span class="result-item-query">{{ result.query }}</span>
          </md-tooltip>

          <span class="result-item-updated">
            {{ result.updated_date | date:'dd/mm/yy HH:mm:ss' }}</span>
          <span class="result-item-title">{{ result.title }}</span>

          <span class="result-item-prices">
            <!-- amazon -->
            <span class="result-item-prices-price" ng-hide="!result['price-amazon']">
              <i class="icon icon-amazon"></i>
              <span class="result-item-prices-price-value">
                {{ result['price-amazon'] }}
              </span>
            </span>

            <!-- ebay -->
            <span class="result-item-prices-price">
              <i class="icon icon-ebay"></i>
              <span class="result-item-prices-price-value" ng-hide="!result['price-ebaylowest'] && !result['price-ebaylowestsold']">
                {{ result['price-ebaylowest'] }}
                /
                {{ result['price-ebaylowestsold'] }}
              </span>
            </span>

            <!-- musicmagpie -->
            <span class="result-item-prices-price" ng-hide="!result['price-musicmagpie']">
              <i class="icon icon-musicmagpie"></i>
              <span class="result-item-prices-price-value">
                {{ result['price-musicmagpie'] }}
              </span>
            </span>

            <!-- zapper -->
            <span ng-hide="true" class="result-item-prices-price" ng-hide="!result['price-zapper']">
              <i class="icon icon-zapper"></i>
              <span class="result-item-prices-price-value">
                {{ result['price-zapper'] }}
              </span>
            </span>

            <!-- webuybooks -->
            <span class="result-item-prices-price" ng-hide="!result['price-webuybooks']">
              <i class="icon icon-webuybooks"></i>
              <span class="result-item-prices-price-value">
                {{ result['price-webuybooks'] }}
              </span>
            </span>

            <!-- ziffit -->
            <span class="result-item-prices-price" ng-hide="!result['price-ziffit']">
              <i class="icon icon-ziffit"></i>
              <span class="result-item-prices-price-value">
                {{ result['price-ziffit'] }}
              </span>
            </span>

            <!-- max price -->
            <span class="result-item-prices-price result-item-prices-price-max">
              <span class="result-item-prices-price-value">
                {{ result.max_price }}
              </span>
            </span>
          </span>

        </div>

        <!--  -->
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
  <script src="/assets/app.js"></script>
</body>
</html>
